@import "/css/components/clock.css";
@import "/css/components/input_box.css";
@import "/css/components/weather.css";
@import "/css/components/quote.css";


.hidden {
    visibility: hidden;
}

body {
    height: 100vh;
    background-size: cover;    
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    color: whitesmoke
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: white;
}
